
<section id="create-head-section">
  <!-- abc sample -->
  <div class="container-fluid text-muted">
    <div class="row mx-2 cust" #filterHeader>
      <!-- <img style="height: 20px;width: 20px;" src="../../assets/img/mars.png" /> -->
      <div class="col-9">
        
        <div
          #initElement
          class="d-flex flex-row justify-content-start align-items-center"
        >
        <!-- <button type="button">Retailers
          <i class='fas fa-building'></i>
        </button> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-toggle="Retailers" data-bs-placement="top" title="Retailers">
          <i class='fas fa-building fa-3x'>Retailers</i>
        </button> -->
        <img routerLink="/home" style="    height: 106px;
        width: 100px;
        margin-top: -18px;
        margin-left: -35px;" src="../../assets/img/mars.png" />
          <div class="custom-drop">
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Retailer
              </mat-label>
              <mat-select [formControl]="retailers" multiple>
                <mat-option>
                  <ngx-mat-select-search
                  placeholderLabel="Search Retailers" 
                   [formControl]="retailersFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <app-select-check-all [model]="retailers" 
                [values]="filteredRetailers | async">
</app-select-check-all>
                <mat-option
                  *ngFor="let retailer of filteredRetailers | async"
                  [value]="retailer"
                  >{{ retailer }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          
          <!-- new changes dropdown category-->
         
          <!-- <mat-label style="font-weight: 600;
          color: red;
          margin-top: -23px;
          /* -webkit-text-fill-color: transparent; */
          transition: none;">newCategory</mat-label>
          <mat-select [formControl]="categories" multiple>
            <mat-option>
              <ngx-mat-select-search
              placeholderLabel="Search Categories" 
               [formControl]="categoriesFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <app-select-check-all [model]="categories" 
            [values]="filteredCategories | async">
</app-select-check-all>
            <mat-option
            *ngFor="let category of filteredCategories | async"
            [value]="category"
            >{{ category }}</mat-option>
          </mat-select> -->
          <!-- ending  -->

          <div class="custom-drop">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select [formControl]="categories" class="downarrow">
                <mat-option>
                  <ngx-mat-select-search
                  placeholderLabel="Search Categories" 
                   [formControl]="categoriesFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <app-select-check-all [model]="categories" 
                [values]="filteredCategories | async">
</app-select-check-all>
                <mat-option 
                *ngFor="let category of filteredCategories | async"
                [value]="category"
                >{{ category }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
<!-- 
          <div class="custom-drop">
            <mat-form-field appearance="fill" >
              <mat-label>Strategic Cell</mat-label>
              <mat-select [formControl]="categories" multiple>
                <mat-option>
                  <ngx-mat-select-search
                  placeholderLabel="Search Categories" 
                   [formControl]="categoriesFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <mat-option
                
                ></mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
         
          <div class="custom-drop">
            <mat-form-field appearance="fill">
              <mat-label>Brand</mat-label>
              <mat-select [formControl]="categories" multiple class="downarrow">
                <mat-option class="downarrow">
                  <ngx-mat-select-search
                  placeholderLabel="Search Categories" 
                   [formControl]="categoriesFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                <app-select-check-all [model]="categories" 
                [values]="filteredCategories | async">
</app-select-check-all>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="custom-drop">
            <mat-form-field appearance="fill">
              <mat-label>Sub Brand</mat-label>
              <mat-select [formControl]="categories" multiple>
                <mat-option>
                  <ngx-mat-select-search
                  placeholderLabel="Search Categories" 
                   [formControl]="categoriesFilterCtrl"></ngx-mat-select-search>
                </mat-option>
                
                <mat-option
               
                ></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="custom-drop">
            <mat-form-field appearance="fill">
              <mat-label>Product Group</mat-label>
              <mat-select [formControl]="products"  multiple
              >
                <mat-option>
                  <ngx-mat-select-search
                  placeholderLabel="Search Products" 
                   [formControl]="productsFilterCtrl">
                   <mat-icon ngxMatSelectSearchClear>
                    <i
                    class="fa fa-window-close"></i>
                   </mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <app-select-check-all [model]="products" 
                          [values]="filteredProducts | async">
    </app-select-check-all>
                <mat-option
                  *ngFor="let product of filteredProducts | async"
                  [value]="product"
                  >{{ product }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          

         

          

        </div>
      </div>
      <div class="col-3">
        <div class="d-flex flex-row justify-content-start align-items-center">
          <div class="p-2 flex-fill">
            <a class="btn btn-primary btn-block" (click)="applyFilter()"
              >Apply</a
            >
          </div>
          <div class="p-2 flex-fill">
            <a class="btn btn-primary btn-block" (click)="resetFilter()"
              >Reset</a
            >
          </div>
        </div>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-2 pt-2">
      <li [ngbNavItem]="1" class="pr-2">
        <a ngbNavLink (click)="ResetSummary()">Simulator Input</a>
        <!-- (click)="ResetSummary()" -->
        <ng-template ngbNavContent>
          <!-- <app-scenario-input
            *ngIf="units.length > 0"
            [tableData]="tableData$"
            [simulteFlag]="simulateFlag$"
            [units] = "units"
            [productFilters] = "(productFilterSubject | async)"
            [categoryFilters] = "(categoryFilterSubject | async)"
            [retailerFilters] = "(retailerFilterSubject| async)"
            [productAvailable] = "product_filter"
            [categoryAvailable] = "categories_filter"
            [retailerAvailable] = "retailer_filter"
            (filtersEvent)="filtersEvent($event)"
            (saveScenarioEvent) = "saveScenarioEvent($event)"

          ></app-scenario-input>   *ngIf="units.length > 0"--> 
          <app-scenario-input
        [year] = "value"
       
          [simulteFlag]="simulateFlag$"
         
          (filtersEvent)="filtersEvent($event)"
          (saveScenarioEvent) = "saveScenarioEvent($event)"

        ></app-scenario-input>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" class="pr-2" >
        <a ngbNavLink  (click)="SimulateSummary()" >Summary</a>
        <!-- -->
        <ng-template ngbNavContent>
          <app-scenario-summary
          [productFilterSubject] = "productFilterSubject"
          [categoryFilterSubject] = "categoryFilterSubject"
          [retailerFilterSubject] = "retailerFilterSubject"
          ></app-scenario-summary>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" class="pr-2" >
        <a ngbNavLink>Dashboard</a>
        <ng-template ngbNavContent>
          <app-line-chart></app-line-chart>
        </ng-template>
      </li>
      <!-- <li class="pr-2" style="width: 68%;" >
        
        <div  class="d-flex justify-content-end year-data" >
        <button routerLink="/scenario/year-plan" class="btn btn-primary">3 Year plan</button>  
        </div>
       
      </li> -->
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    
  </div>
</section>
