
::ng-deep {
  
    .ngx-slider {
      .ngx-slider-pointer {
        background:var(--color-blue-1) !important;
      }
    }
  
  }
// "\f0dd"   only down
  // "\f0de"   only up
  //f0dc  up and down
 
// .sortable::after{
//   font-family: "FontAwesome";
//   content: "\f0dd";  // both up and down
//   display: inline-block;
//   padding-left: 3px;
//   vertical-align: middle;
//   font-weight: 900; 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// .modal-xl .modal-lg {
//   max-width: 90%;
// }
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// }
.disable{
  cursor:not-allowed ; 
  opacity: 0.6;
}
.modal-header .close{
  outline: none;
}
.normal-size{
  font-size: 13px;
}
.shrink-size{
  font-size: 10px;
  font-weight: bolder;
}
.blink::after{
  font-family: "FontAwesome";
  content: "\f062";  // both up and down
  display: inline-block;
  padding-left: 0px;
  // vertical-align: middle;
  // font-weight: 900; 
  // position: absolute;
  margin-top:-3px;
}

.blink {
  color: green;
  // position: relative;
  // font-size: 9px;
  // animation: blinker 1s linear infinite;
}
.percent {
  display: inline-block;
  position: relative;
  width: 35%;
}
.percent::after {
  content: '%';
  position: absolute;
  top: 9px;
  right: 1px;
  transition: all .05s ease-in-out;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.w-35{
  width: 35%;
}
.sortable::after{
  font-family: "FontAwesome";
  content: "\f0dc";  // both up and down
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 900; 
}
.asc::after{
  font-family: "FontAwesome";
  content: "\f0de";  // both up and down
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 900; 
}
.desc::after{
  font-family: "FontAwesome";
  content: "\f0dd";  // both up and down
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 900; 
}
.value-button {
  // display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 30%;
  height: 38px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 8px 0;
  background: var(--color-amber-1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-change {
  color: var(--color-blue-1);
}

#decrease {
  // width: ;
  // margin-right: -4px;
  border-radius: 0 8px 8px 0px;
 
}

#increase {
  // margin-left: -4px;
  border-radius: 8px 0px 0 8px;
 
}

::ng-deep .mat-form-field-underline {
  background-color: blue !important;
  width: 0;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  // background-color: red;
}
/* to change selected item color in the select list */
// ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//   color: #63961c;
// }

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba(0, 0, 0, 0.0);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-grey-light-1);
}
::ng-deep .mat-expansion-indicator::after {
  color: var(--color-grey-dark-1);
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--color-grey-light-1);
}

::ng-deep .mat-chip {
  font-size: 12px;
}
::ng-deep
  .custome-input
  > .mat-form-field-appearance-fill
  .mat-form-field-flex {
  padding: 0px !important;
}
.table-cal {
  position: relative;
}
.custome-input {
  // position: absolute;
  // top: 0;
  // left: 29px;
}
.custome-input > .mat-form-field {
  width: 30px;
  height: 40px;
  // left: 15px;
  // bottom: 70px;
  // color: var(--color-amber-1);
  // top: 50px;
}

td .mat-form-field {
  width: 110px;
}
.custome-input + div {
  margin: -6px;
}
.small-font > td {
  font-size: 10px;
}

.cust-2 {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.cust {
  // background-color: var(--color-grey-light-4);
  // box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
  border-radius: 8px;
  // border: 2px solid #009879;
  border-radius: 10px;
  // box-shadow: 0 0 10px var(--color-amber-1);
  // .element-2 {
  // box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  //   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset,
    12px 12px 16px 0 rgba(255, 255, 255, 0.3),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25);
  // border: 2px solid var(--color-blue-1);
  // }
  //    inset 0 0 50px var(--color-amber-1),
  //     inset 20px 0 80px var(--color-amber-1),
  //     inset -20px 0 80px var(--color-amber-1),
  //     inset 20px 0 300px var(--color-amber-1),
  //     inset -20px 0 300px var(--color-amber-1), 0 0 50px var(--color-amber-1),
  //     -10px 0 80px var(--color-amber-1), 10px 0 80px var(--color-amber-1);
  //   height: 500px;
  //   width: 70px;
  //   padding: 10px 15px;
  //   border-right: 1px solid #333;
  //   border-left: 1px solid #333;
  //   border-radius: 10px;
}
.shadow-class {
  // border-radius: 10px;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}
.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 91%;
  background-color: var(--color-grey-dark-3);
}

.sticky_ {
  position: fixed;
  top: 70px;
  overflow: hidden;
  z-index: 10;
  width: 91%;
  background-color: var(--color-grey-dark-3);
}
.table-bordered thead th{
  vertical-align: middle;
}
.table td,
th {
  vertical-align: middle;
  text-align: center;
}
.expanded {
  transition: width 0.7s;
  width: 400px;
}
.not-expanded {
  transition: width 0.7s;
  width: 0px;
}

.table-responsive {
  height: 75vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
  // _overflow: auto;
  margin: 0 0 1em;
  padding-right: 0px;
  padding-left: 0px;
}
// .btn-primary,
// .btn-primary:hover,
// .btn-primary:active,
// .btn-primary:visited {
//   background-color: var(--color-pink) !important;
// }
::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
outline: none;
}
::ng-deep .mat-icon-button {
  color: var(--color-blue-1);
  outline: none;
}

// .btn-primary,
// .btn-primary:hover,
// .btn-primary:active,
// .btn-primary:visited {
//   color: #fff;

//   border-color: #fff;
// }
.mat-form-field {
  height: 55px;
}
::ng-deep .mat-pseudo-checkbox {
  color: var(--color-amber-1);
}

table tbody tr td input {
  //   position: absolute;
  padding-left: 0px;
  border: none;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  // display: inline-block;
  top: 0;
  left: 0;
  // height: 40px;
  margin: 0;
  // height: 100% !important;
  // width: 40%;
  // border-radius: 10px !important;
  // border: var(--color-amber-1) 3px solid;
  // padding: 10px;
  box-sizing: border-box;
  text-align: unset;
  vertical-align: bottom;
}


table tbody tr td .ip {
  //   position: absolute;
  // border: none;
  // vertical-align: middle;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
  margin: 0px;
  display: inline-block;
  top: 0;
  left: 0;
  // height: 40px;
  margin: 0;
  height: 60% !important;
  width: 60%;
  border-radius: 10px !important;
  border: var(--color-amber-1) 3px solid;
  // padding: 10px;
  box-sizing: border-box;
  text-align: center;
  // vertical-align: bottom;
}
thead > tr > th.custom {
  border-top: 2px solid var(--color-amber-1);
}
thead > tr:nth-child(11) {
  border-left: 2px solid var(--color-amber-1);
}
.simulate {
  height: 100vh;
  margin-top: 340px;
  scroll-margin-top: 340px;
}
.header-table {
  border-bottom: 1px solid var(--color-amber-1);
}
table {
  table-layout: fixed;
  word-wrap: break-word;
  position: relative;
  font-size: 13px;
}
th .mat-form-field {
  //   width: 65px;
}
.table-bordered .no-border-head th {
  border: none;
}
.table-bordered {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.fa-download{
  color : var(--color-blue-1);
  position: relative;
    top: 0.07em;
}
.table-bordered thead tr {
  // border-radius: 5px;
  background-color: var(--color-blue-1);
  // background-color: var(--color-amber-1);
  color: var(--color-grey-light-1);
  font-weight: bold;
}
.custom {
  padding: 0px;
  //   background-color: var(--color-amber-1);
  //   border-left: 1px solid red;
  //   border-top: 1px solid blue;
}
// table tbody tr td.custom :first-of-type {
//   border-left: 1px solid;
// }
// .custom {
//   border-left: 1px solid;
//   border-top: 1px solid;
// }
// ::ng-deep .mat-icon-button {
//   color: white;
// }
.color-danger {
  color: red;
}
.color-success {
  color: green;
}
