.mat-form-field {
  width: 150px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--color-pink) !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: #fff;

  border-color: #fff;
}
.row {
  padding-left: 0;
  padding-right: 0;
}
