.table-bordered thead tr {
  // border-radius: 5px;
  background-color: var(--color-blue-1);
  // background-color: var(--color-amber-1);
  color: var(--color-grey-light-1);
  font-weight: bold;
}
.table-bordered thead td, .table-bordered thead th{
  width: 80px;
}