<div class="container-fluid">
  <!-- <div class="row py-1 my-3 cust"> -->
  <!-- <div class="col-8"> -->
  <div #initElement class="d-flex p-2 flex-row align-items-baseline">
    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Retailer</mat-label>
        <mat-select
          [formControl]="selectedRetailer"
          name="selectedRetailer"
          multiple
        >
          <mat-option [value]="'ALL'">All</mat-option>
          <mat-option
            *ngFor="let retailer of retailer_filter"
            [value]="retailer"
            >{{ retailer }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select
          [formControl]="selectedCategories"
          name="selectedCategories"
          multiple
        >
          <mat-option [value]="'ALL'">All</mat-option>
          <mat-option
            *ngFor="let category of category_filter"
            [value]="category"
            >{{ category }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Product group</mat-label>
        <mat-select
          [formControl]="selectedProducts"
          name="selectedProducts"
          multiple
        >
          <mat-option [value]="'ALL'">All</mat-option>
          <mat-option
            *ngFor="let product of product_filter"
            [value]="product"
            >{{ product }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Promo Activity</mat-label>
        <mat-select
          [formControl]="selectedActivity"
          name="selectedActivity"
          multiple
        >
          <mat-option [value]="'ALL'">All</mat-option>
          <mat-option
            *ngFor="let promo of promo_activity_filter"
            [value]="promo"
            >{{ promo }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Promo Mechanics</mat-label>
        <mat-select
          [formControl]="selectedMechanic"
          name="selectedMechanic"
          multiple
        >
          <mat-option [value]="'ALL'">All</mat-option>
          <mat-option
            *ngFor="let mechanic of promo_mechanic_filter"
            [value]="mechanic"
            >{{ mechanic }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <!-- </div> -->
    <!-- <div class="col-4"> -->
    <!-- <div class="d-flex flex-row justify-content-start align-items-center"> -->
    <div class="p-2 flex-fill">
      <a class="btn btn-primary btn-block" (click)="applyFilter()">Apply</a>
    </div>
    <div class="p-2 flex-fill">
      <a class="btn btn-primary btn-block">Reset</a>
    </div>
  </div>
  <div
    class="d-flex p-2 flex-row justify-content-center align-items-baseline grad"
  >
    <div class="p-1 m-1">
      <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select
          [formControl]="selectedYear"
          (selectionChange)="changeYear($event.value)"
          name="selectedYear"
        >
          <mat-option *ngFor="let year of year_filter" [value]="year">{{
            year
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex p-2 flex-row justify-content-center align-items-baseline">
    <h3 class="glow">Over all profit pool</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="chartOptions_year1"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="chartOptions_year2"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>
  <div class="d-flex p-2 flex-row justify-content-center align-items-baseline">
    <h5 class="glow">MARS profit pool</h5>
  </div>
  <div class="row">
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="mars_profit_pool_chartOptions_year1"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="mars_profit_pool_chartOptions_year2"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>
  <div class="d-flex p-2 flex-row justify-content-center align-items-baseline">
    <h5 class="glow">Retail profit pool</h5>
  </div>
  <div class="row">
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="retail_profit_pool_chartOptions_year1"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
    <div class="col-6">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="retail_profit_pool_chartOptions_year2"
        style="width: 100%; height: 250px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>
</div>
