@import "~@angular/material/theming";
@import "~font-awesome/css/font-awesome.css";
$fa-font-path: "/node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Include non-theme styles for core.
@include mat-core();

@font-face {
  font-family: brandon;
  src: url(assets/font/brandon.otf) format("opentype");
}
@font-face {
  font-family: opensans;
  src: url(assets/font/OpenSans-Regular.ttf) format("opentype");
}
@font-face {
  font-family: mars;
  src: url(assets/font/mars.woff2) format("opentype");
}
@font-face {
  font-family: mars-book;
  src: url(assets/font/mars-Book.woff2) format("opentype");
}
@font-face {
  font-family: mars-bold;
  src: url(assets/font/mars-Bold.woff2) format("opentype");
}
@font-face {
  font-family: mars-extra-bold;
  src: url(assets/font/mars-extrabold.woff2) format("opentype");
}

$mat-custom-theme: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: rgba(255, 152, 0, 0.8),
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Define a theme.
$primary: mat-palette($mat-custom-theme);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

:root {
  --color-pink: #eb2f64;
  --color-pink-light: #ff3366;
  --color-pink-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-amber-1: #ffbf00;
  --color-amber-2: #ff7e00;
  // --color-blue-1: #00008b;
  --color-blue-1: #0000a0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // font-family: "brandon", "arial", sans-serif;
  // box-sizing:inherit;
  // box-sizing: border-box;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; }

.mat-form-field-appearance-fill .mat-form-field-infix{
  font-family: "mars-extra-bold";
  width:130px!important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey-1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#b5bb82; 
}
html {
  /* font-size: 10px; */
  // font-size: 62.5%;
  /* 10/16 =0.625 */
}

body {
  font-family: "mars-book", "arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grey-dark-1);
  margin : 0;
  // font-size: 62.5%;
  // line-height: 1.7;
  // color : #777;
  // background: var(--color-grey-light-2);
  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-grey-light-1),
  //   var(--color-grey-dark-3)
  // );
  // color: #fff;
  // box-sizing: border-box;
  // padding: 3rem;
}

.glow {
  font-size: 80px;
  color: var(--color-grey-dark-1);
  text-align: center;
  // -webkit-animation: glow 1s ease-in-out infinite alternate;
  // -moz-animation: glow 1s ease-in-out infinite alternate;
  // animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px var(--color-amber-1), 0 0 50px var(--color-amber-1),
      0 0 60px var(--color-amber-1), 0 0 70px var(--color-amber-1);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--color-amber-1),
      0 0 40px var(--color-amber-1), 0 0 50px var(--color-amber-1),
      0 0 60px var(--color-amber-1), 0 0 70px var(--color-amber-1),
      0 0 80px var(--color-amber-1);
  }
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  // background-color: var(--color-amber-1) !important;
  background-color: var(--color-blue-1) !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  // color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);

  border-color: #fff;
}

.chart {
  width: 100%;
  height: 220px;
  display: block;
  border-radius: 10px;
  // background: greenyellow;
  // background-color: green;
  // box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
  //   -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5),
    12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.neumorphic {
  // background-color: var(--color-grey-light-4);
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  // font-size: 5rem;
  // width: 200px;
  // height: 200px;
  // border: 2px solid var(--color-amber-1);
  border-radius: 25px;
  overflow: hidden;
  // padding: 1.3rem;
  display: flex;
  justify-content: center;
}

.neumorphic--pressed {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.variation1 {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0.3)
  );
}

.variation1 span {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  padding: 0.65rem;
  box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);
}

.variation1 strong {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // width: 100%;
  // height: 100%;
  border-radius: 100%;
  overflow: hidden;
  background-color: #f13c20;
  color: white;
}

.variation1.pressed strong {
  background-color: #bb3c20;
}

.variation2 {
  justify-content: space-around;
  align-items: center;
}

.variation2 span {
  display: block;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 3rem;
}

.variation2 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 0.3rem;
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
  background-color: currentColor;
}

.variation2.pressed {
  color: #5ab9ea;
}
.theme-btn {
  background: url("./assets/img/theme1.jpg") no-repeat;
  color: #fff;
}
.eq {
  width: 165px;
}

.color-danger {
  color: red;
}
.color-success {
  color: green;
}
.color-danger::after{
  font-family: "FontAwesome";
  content: "\f063";  // both up and down
  display: inline-block;
  font-weight: 900; 
  
}
.color-success::after{
  font-family: "FontAwesome";
  content: "\f062";  // both up and down
  display: inline-block;
  font-weight: 900; 
  
}
