<section id="create-input-section">
  <div class="container-fluid text-muted">
    <form [formGroup]="tableform" (ngSubmit)="onSubmit()">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th>
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Choose Date</mat-label>
                <input matInput [matDatepicker]="picker1" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Choose Date</mat-label>
                <input matInput [matDatepicker]="picker2" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Choose Date</mat-label>
                <input matInput [matDatepicker]="picker3" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker3"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker3 color="primary"></mat-datepicker>
              </mat-form-field>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>Product group Retailer</th>
            <th>LPI %</th>
            <th>% RSP Increase</th>
            <th>% COGS Increase</th>
            <th>Base Price Elasticity used</th>
            <th>Base Price Elasticity (Manual Override)</th>
            <th>Competition</th>
          </tr>
        </thead>
        <tbody>
          <tr formGroupName="orbit_otc_magnit">
            <td>
              <input
                matInput
                formControlName="product_group_retailer"
                readonly
              />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="lpi_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="rsp_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="cogs_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <!-- <mat-label>%</mat-label> -->
                <input matInput formControlName="base_price_elasticity" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input
                  matInput
                  formControlName="base_price_elasticity_manual"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput formControlName="competition" />
              </mat-form-field>
            </td>
          </tr>
          <tr formGroupName="orbit_otc_x5">
            <td>
              <input
                matInput
                formControlName="product_group_retailer"
                readonly
              />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="lpi_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="rsp_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput formControlName="cogs_increase" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput formControlName="base_price_elasticity" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input
                  matInput
                  formControlName="base_price_elasticity_manual"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput formControlName="competition" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="ORBIT XXL - Magnit" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="BIG BARS - Magnit" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="BIG BARS- X5" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="STD BARS- Magnit" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="STD BARS - X5" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="STD BARS_MILKYWAY - Magnit" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="STD BARS_MILKYWAY - X5" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input
                matInput
                value="BIG BARS_SNIKERSCRISPER - Magnit"
                readonly
              />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input matInput value="BIG BARS_SNIKERSCRISPER - X5" readonly />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <input
                matInput
                value="BIG BARS_SNIKERSCRISPER_DUQ - Magnit"
                readonly
              />
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5" value="0.00" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput value="Not Follows" />
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</section>
