<nav class="navbar navbar-expand-lg fixed-top">
  <!-- <a class="navbar-brand" >Welcome {{user}} ! </a> -->
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <!-- <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">About</a>
      </li> -->
     
      <!-- <li class="nav-item">
        <a class="nav-link" data-value="team" href="#"> Glossary</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-value="contact" (click) = "logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <header class="header">
  <div class="overlay"></div>
  <div class="container"></div>
</header> -->
<div class="blog header mt-5" >
  <div class="overlay"></div>
  <div class="container">
    <!-- <h1 class="text-center">Blog</h1> -->
    <div class="row py-5">
      <div class="col-md-3 col-lg-3 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-img">
           
            <i class="fa fa-dashboard"></i>
            <!-- <a routerLink="/scenario"  >
               routerLink="/scenario"
              </a> -->
          </div>

          <div class="card-body">
            <a routerLink="/scenario">
              <h6 class="card-title" >Pricing Scenario Builder</h6>
            </a>
            <p class="card-text">
              Scenario Creation capability to plan for Pricing with the impact of price increases on volume and Mars/Customer P&L metrics. Data-Driven Price Simulation enables buy-in from key stakeholders in order to seamlessly execute pricing decisions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-img">
           
            <i class="fa fa-bar-chart"></i>
            <!-- <a routerLink="/scenario"  >
               routerLink="/scenario"
              </a> -->
          </div>

          <div class="card-body">
            <a href="https://mars-promo-mexico-ui-v1.azurewebsites.net/">
              <h6 class="card-title" >Promo Tool</h6>
            </a>
            <p class="card-text">
              Promo tool which enables the stakeholders to optimize the promotion plans subject to various constraints & simulate various promo scenarios and understand the impact on financial metrics for MARS and the customers.
            </p>
          </div>
        </div>
      </div>






      <!-- <div class="card-footer">
            <a routerLink="/scenario" class="card-link"
              >Read more
              <span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
              ></span>
            </a>
          </div> -->
           <!-- <a>
            <img routerLink="/scenario"  src="../../assets/img/mars-background.jpg" class="img-fluid" />
          </a> -->

      <div class="col-md-3 col-lg-3 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-img">
            <!-- <a target="_blank" href="https://app.powerbi.com/groups/3268f3d7-5cf6-4067-a92f-b8e07bc1c3f0/reports/40e321e8-509f-4a7b-b876-8d5971b9c614?ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6">
            <img  src="../../assets/img/mars-products.jpg" class="img-fluid" />
          </a> -->

          <i class="fa fa-rub"></i>
          </div>

          <div class="card-body">
            <a  href="https://app.powerbi.com/groups/53d31380-4cac-4e73-9f6b-18c7d4b633f2/reports/8f0a298d-a24a-4457-aca2-4f8c522e7fc9/ReportSection38083be9c726d8eda147?ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6&openReportSource=ReportInvitation">
            
            <h6 class="card-title">Price Execution Tracker</h6>
          </a>
            <p class="card-text">
              Executive Dashboard with the key metrics to track the pricing trends between Mars and main competitors. Objective is to have a one-stop shop for timely and precise price status data. 
            </p>
          
            <!-- <p class="card-text">
              The Profit Pool tool is a complete solution for taking a look at the financial portfolio of the business. It provides visibility into business margins and expenses, across the years and channels, which will allow the  key stakeholders to identify potential value drivers.
            </p> -->
            
          </div>
          <!-- <div class="card-footer">
            <a routerLink="/pricepool" class="card-link"
              >Read more
              <span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
              ></span>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 mx-auto">
        <div class="card"  >
          <div class="card-img">
            <i class="fa fa-line-chart"></i>
         
          </div>

          <div class="card-body">
            <a href="https://app.powerbi.com/groups/53d31380-4cac-4e73-9f6b-18c7d4b633f2/reports/5071d67a-5436-40a6-8f12-1a9721e4f8be/ReportSection93667eadf694ea410eb8?ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6&openReportSource=ReportInvitation">
              <h6 class="card-title">Price Pack Dashboard</h6>
            </a>
            <p class="card-text">
              The Pricing Analysis Platform is a tool that helps to understand the price trends across manufacturers, brands, pack types, etc across time. It allows the pricing team to identify the instances in which the products are under-priced or over-priced relative to the competitive positioning, where price adjustments are required, and thus helps in understanding and improving the overall effectiveness of the pricing strategy.  
            </p> 
          </div>
         
        </div>
      </div>

      
 
      <!-- <div class="col-md-3 col-lg-3 col-sm-12">
        <div class="card" routerLink="/report">
          <div class="card-img">
           
            <a routerLink="/report"  >
              <i class="fa fa-area-chart"></i>
              </a>
          </div>

          <div class="card-body">
            <h6 class="card-title">SRM Insights</h6>
            <p class="card-text">
              The SRM Insights Platform is a one-stop platform to get a 360-degree view on the effectiveness of trade promotion levers and observe trends which will allow Trade Executives & SRM team to identify opportunities and enable account teams to drive growth & add value to retail partners.
            </p>
          </div>
         
        </div>
      </div> -->
    
       <!-- <a target="_blank" href="https://app.powerbi.com/groups/me/reports/1a45603b-db56-4fc4-b141-c70f657fbdd5/ReportSectionb518de2f474d1df56a34">
            <img src="../../assets/img/Sell-Malteasers-Bounty.jpg" class="img-fluid" />
            </a> -->
             <!-- <div class="card-footer">
            <a href="" class="card-link"
              >Read more
              <span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
              ></span>
            </a>
          </div> -->
    </div>
  </div>
</div>


<!-- <div class="col-md-3 col-lg-3 col-sm-12">
  <div class="card" routerLink="/profitreport">
    <div class="card-img"> -->
      <!-- <a target="_blank" href="https://app.powerbi.com/groups/3268f3d7-5cf6-4067-a92f-b8e07bc1c3f0/reports/40e321e8-509f-4a7b-b876-8d5971b9c614?ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6">
      <img  src="../../assets/img/mars-products.jpg" class="img-fluid" />
    </a> -->

    <!-- <a routerLink="/profitreport"  >
      <i class="fa fa-rub"></i>
      </a>
    </div>

    <div class="card-body">
      <a  href="https://app.powerbi.com/reportEmbed?reportId=5071d67a-5436-40a6-8f12-1a9721e4f8be&autoAuth=true&ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">
      </a>
      <h6 class="card-title">Price Execution Tracker</h6>
      <p class="card-text">
        Executive Dashboard with the key metrics to track the pricing trends between Mars and main competitors. Objective is to have a one-stop shop for timely and precise price status data. 
      </p> -->

      <!-- <p class="card-text">
        The Profit Pool tool is a complete solution for taking a look at the financial portfolio of the business. It provides visibility into business margins and expenses, across the years and channels, which will allow the  key stakeholders to identify potential value drivers.
      </p> -->
      
    <!-- </div> -->
    <!-- <div class="card-footer">
      <a routerLink="/pricepool" class="card-link"
        >Read more
        <span>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i
        ></span>
      </a>
    </div> -->
  <!-- </div>
</div> -->

<!-- <div class="col-md-3 col-lg-3 col-sm-12">
  <div class="card"  routerLink="/pcreport">
    <div class="card-img">
      <a  target="_blank" href="https://app.powerbi.com/groups/3268f3d7-5cf6-4067-a92f-b8e07bc1c3f0/reports/117d13d3-abb5-43ff-8dc5-226a3574a13b?ctid=2fc13e34-f03f-498b-982a-7cb446e25bc6">
      <img src="../../assets/img/mars_chocolate.jpg" class="img-fluid" />
    </a>
    <a routerLink="/pcreport"  >
      <i class="fa fa-line-chart"></i>
      </a>
    </div>

    <div class="card-body">
      <h6 class="card-title">Price Pack Dashboard</h6>
        <p class="card-text">
          The Pricing Analysis Platform is a tool that helps to understand the price trends across manufacturers, brands, pack types, etc across time. It allows the pricing team to identify the instances in which the products are under-priced or over-priced relative to the competitive positioning, where price adjustments are required, and thus helps in understanding and improving the overall effectiveness of the pricing strategy.  
        </p> 
      </div>
    <div class="card-footer">
      <a href="" class="card-link"
        >Read more
        <span>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i
        ></span>
      </a>
    </div>
  </div>
</div> -->