<td  style="text-align: left;" scope="row">
  <strong>{{ name }}</strong>
</td>
<td appTdDirective [n] = "name" [value] = "val.units"
>
  {{ val.units | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  
</td>
<td appTdDirective [n] = "name" [value] = "val.tonnes"
>
  {{ val.tonnes | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  
</td>

<td appTdDirective [n] = "name" [value] = "val.rsv">
  {{ val.rsv  | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
</td>
<td appTdDirective [n] = "name" [value] = "val.rp">
  {{ val.rp | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
   
</td>
<td appTdDirective [n] = "name" [value] = "val.lsv"
>
  {{ val.lsv | convertTonnes}}  <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
</td>

<td appTdDirective [n] = "name" [value] = "val.te" [reverse] = "true">
  {{ val.te | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
</td>


<td appTdDirective [n] = "name" [value] = "val.nsv">
  {{ val.nsv | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
</td>
<td appTdDirective [n] = "name" [value] = "val.mac">
  {{ val.mac | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> $ </span>
   
</td>
<!-- <td appTdDirective [n] = "name" [value] = "val.nsv_tonnes">
  {{ val.nsv_tonnes | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> ₽ </span>
</td>
<td  appTdDirective [n] = "name" [value] = "val.te_units" [reverse] = "true"
>
  {{ val.te_units | convertTonnes }} <span *ngIf="name == '% Change'"> % </span>
  <span *ngIf="name != '% Change'"> ₽ </span>
   
</td> -->

<td appTdDirective [n] = "name" [value] = "val.te_percent_lsv" [reverse] = "true">
  {{ val.te_percent_lsv | convertTonnes }} <span *ngIf="name != 'ABS Change'"> % </span><span *ngIf="name == 'ABS Change'"> pp </span>
</td>

<td appTdDirective [n] = "name" [value] = "val.mac_percent_nsv">
  {{ val.mac_percent_nsv | convertTonnes }}  <span *ngIf="name != 'ABS Change'"> % </span><span *ngIf="name == 'ABS Change'"> pp </span>
</td>

<td appTdDirective [n] = "name" [value] = "val.rp_percent_rsv">
  {{ val.rp_percent_rsv | convertTonnes }}  <span *ngIf="name != 'ABS Change'"> % </span><span *ngIf="name == 'ABS Change'"> pp </span>
   
</td>
